torch==1.10.0
tensorboardX==2.4.1
pyquaternion==0.9.9
cffi==1.15.0
llvmlite==0.31.0
numba==0.47.0
torchgeometry==0.1.2
numpy==1.19
PyYAML==6.0
matplotlib==3.5.1
open3d==0.14.1
opencv-python==4.5.5.62
Pillow==8.4.0
scikit-learn==1.0.2
scipy==1.7.3
tqdm==4.62.3
pandas==1.4.0
protobuf==3.19.3
